## Setting up google colab

In [5]:
from google.colab import drive    #when not on google colab, comment out these lines
drive.mount('/content/drive')     #when not on google colab, comment out these lines

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import sys                                                                                     #when not on google colab, comment out these lines
sys.path.append('/content/drive/My Drive/midas/competitive-data-science-predict-future-sales')

## Importing Libraries

In [0]:
import numpy as np
import pandas as pd 
import os
import random as rn
import matplotlib.pyplot as plt
from xgboost import XGBRegressor
from itertools import product
from sklearn.preprocessing import LabelEncoder

## Loading Dataset

In [0]:
train = pd.read_csv('/content/drive/My Drive/midas/competitive-data-science-predict-future-sales/sales_train_v2.csv')
test = pd.read_csv('/content/drive/My Drive/midas/competitive-data-science-predict-future-sales/test.csv')
items = pd.read_csv('/content/drive/My Drive/midas/competitive-data-science-predict-future-sales/items.csv')
cats = pd.read_csv('/content/drive/My Drive/midas/competitive-data-science-predict-future-sales/item_categories.csv')
shops = pd.read_csv('/content/drive/My Drive/midas/competitive-data-science-predict-future-sales/shops.csv')
sample_submission = pd.read_csv('/content/drive/My Drive/midas/competitive-data-science-predict-future-sales/sample_submission.csv')

Removing any outliers in item price and in item  number of products sold.

In [0]:
train = train[train.item_price<100000]
train = train[train.item_cnt_day<1001]

Replacing negative values in the dataset by median.

In [0]:
median = train[(train.shop_id==32)&(train.item_id==2973)&(train.date_block_num==4)&(train.item_price>0)].item_price.median()
train.loc[train.item_price<0, 'item_price'] = median

Several shops are duplicates of each other (according to their name). Fixing the train and test set.

In [0]:
# Якутск Орджоникидзе, 56
train.loc[train.shop_id == 0, 'shop_id'] = 57
test.loc[test.shop_id == 0, 'shop_id'] = 57
# Якутск ТЦ "Центральный"
train.loc[train.shop_id == 1, 'shop_id'] = 58
test.loc[test.shop_id == 1, 'shop_id'] = 58
# Жуковский ул. Чкалова 39м²
train.loc[train.shop_id == 10, 'shop_id'] = 11
test.loc[test.shop_id == 10, 'shop_id'] = 11

Creating additional features based on the following observations
* Each shop_name starts with the city name.
* Each category contains type and subtype in its name.

In [0]:
shops.loc[shops.shop_name == 'Сергиев Посад ТЦ "7Я"', 'shop_name'] = 'СергиевПосад ТЦ "7Я"'
shops['city'] = shops['shop_name'].str.split(' ').map(lambda x: x[0])
shops.loc[shops.city == '!Якутск', 'city'] = 'Якутск'
shops['city_code'] = LabelEncoder().fit_transform(shops['city'])
shops = shops[['shop_id','city_code']]

cats['split'] = cats['item_category_name'].str.split('-')
cats['type'] = cats['split'].map(lambda x: x[0].strip())
cats['type_code'] = LabelEncoder().fit_transform(cats['type'])
# if subtype is nan then type
cats['subtype'] = cats['split'].map(lambda x: x[1].strip() if len(x) > 1 else x[0].strip())
cats['subtype_code'] = LabelEncoder().fit_transform(cats['subtype'])
cats = cats[['item_category_id','type_code', 'subtype_code']]

items.drop(['item_name'], axis=1, inplace=True)

Rearranging the training dataset to get the proper format so as to make it similar to the test dataset.

In [0]:
matrix = []
cols = ['date_block_num','shop_id','item_id']
for i in range(34):
    sales = train[train.date_block_num==i]
    matrix.append(np.array(list(product([i], sales.shop_id.unique(), sales.item_id.unique())), dtype='int16'))
    
matrix = pd.DataFrame(np.vstack(matrix), columns=cols)
matrix['date_block_num'] = matrix['date_block_num']
matrix['shop_id'] = matrix['shop_id']
matrix['item_id'] = matrix['item_id']
matrix.sort_values(cols,inplace=True)

In [14]:
matrix.head()

        date_block_num  shop_id  item_id
114910               0        2       19
117150               0        2       27
120623               0        2       28
118316               0        2       29
114602               0        2       32

In [0]:
train['revenue'] = train['item_price'] *  train['item_cnt_day']

Aggregate train set by shop/item pairs to calculate target aggreagates, then clip(0,20) target value. This way train target will be similar to the test predictions.

In [0]:
group = train.groupby(['date_block_num','shop_id','item_id']).agg({'item_cnt_day': ['sum']})
group.columns = ['item_cnt_month']
group.reset_index(inplace=True)

In [0]:
matrix = pd.merge(matrix, group, on=cols, how='left')

In [18]:
matrix.head()

   date_block_num  shop_id  item_id  item_cnt_month
0               0        2       19             NaN
1               0        2       27             1.0
2               0        2       28             NaN
3               0        2       29             NaN
4               0        2       32             NaN

In [0]:
matrix['item_cnt_month'] = (matrix['item_cnt_month']
                                .fillna(0)
                                .clip(0,20) # NB clip target here
                                )

In [20]:
matrix.head()

   date_block_num  shop_id  item_id  item_cnt_month
0               0        2       19             0.0
1               0        2       27             1.0
2               0        2       28             0.0
3               0        2       29             0.0
4               0        2       32             0.0

Making the test dataset as an extension of the training dataset for ease of use. Here the test dataset is considered as the 34th month in the time series data.

In [0]:
test['date_block_num'] = 34

In [0]:
matrix = pd.concat([matrix, test], ignore_index=True, sort=False, keys=cols)

In [23]:
matrix

          date_block_num  shop_id  item_id  item_cnt_month        ID
0                      0        2       19             0.0       NaN
1                      0        2       27             1.0       NaN
2                      0        2       28             0.0       NaN
3                      0        2       29             0.0       NaN
4                      0        2       32             0.0       NaN
...                  ...      ...      ...             ...       ...
11127999              34       45    18454             NaN  214195.0
11128000              34       45    16188             NaN  214196.0
11128001              34       45    15757             NaN  214197.0
11128002              34       45    19648             NaN  214198.0
11128003              34       45      969             NaN  214199.0

[11128004 rows x 5 columns]

In [0]:
matrix.fillna(0, inplace=True)

In [25]:
matrix

          date_block_num  shop_id  item_id  item_cnt_month        ID
0                      0        2       19             0.0       0.0
1                      0        2       27             1.0       0.0
2                      0        2       28             0.0       0.0
3                      0        2       29             0.0       0.0
4                      0        2       32             0.0       0.0
...                  ...      ...      ...             ...       ...
11127999              34       45    18454             0.0  214195.0
11128000              34       45    16188             0.0  214196.0
11128001              34       45    15757             0.0  214197.0
11128002              34       45    19648             0.0  214198.0
11128003              34       45      969             0.0  214199.0

[11128004 rows x 5 columns]

Adding city_code, item_category_id, type_code and subtype_code as additional features.

In [0]:
matrix = pd.merge(matrix, shops, on=['shop_id'], how='left')

In [0]:
matrix = pd.merge(matrix, items, on=['item_id'], how='left')

In [0]:
matrix = pd.merge(matrix, cats, on=['item_category_id'], how='left')

In [30]:
matrix

          date_block_num  shop_id  ...  type_code  subtype_code
0                      0        2  ...         11             4
1                      0        2  ...          5            10
2                      0        2  ...          8            55
3                      0        2  ...          5            16
4                      0        2  ...         11             4
...                  ...      ...  ...        ...           ...
11127999              34       45  ...         13             2
11128000              34       45  ...         14            42
11128001              34       45  ...         13             2
11128002              34       45  ...         11             4
11128003              34       45  ...         11             1

[11128004 rows x 9 columns]

Instead of simply using date_block_num , it is important to identify the month for better understanding of the sales.

In [0]:
matrix['month'] = matrix['date_block_num'] % 12

In [32]:
matrix.tail()

          date_block_num  shop_id  item_id  ...  type_code  subtype_code  month
11127999              34       45    18454  ...         13             2     10
11128000              34       45    16188  ...         14            42     10
11128001              34       45    15757  ...         13             2     10
11128002              34       45    19648  ...         11             4     10
11128003              34       45      969  ...         11             1     10

[5 rows x 10 columns]

Observing the max number of days in the respective months.

In [0]:
days = pd.Series([31,28,31,30,31,30,31,31,30,31,30,31])
matrix['days'] = matrix['month'].map(days)

In [34]:
matrix.head()

   date_block_num  shop_id  item_id  ...  subtype_code  month  days
0               0        2       19  ...             4      0    31
1               0        2       27  ...            10      0    31
2               0        2       28  ...            55      0    31
3               0        2       29  ...            16      0    31
4               0        2       32  ...             4      0    31

[5 rows x 11 columns]

## Getting ready for model training

In [0]:
data = matrix

Validation strategy is 34th month for the test set, 33rd month for the validation set and 1-33 months for the train.

In [0]:
X_train = data[data.date_block_num < 33].drop(['item_cnt_month'], axis=1)
Y_train = data[data.date_block_num < 33]['item_cnt_month']
X_valid = data[data.date_block_num == 33].drop(['item_cnt_month'], axis=1)
Y_valid = data[data.date_block_num == 33]['item_cnt_month']
X_test = data[data.date_block_num == 34].drop(['item_cnt_month'], axis=1)

## Defining model

In [0]:
model = XGBRegressor(
    max_depth=8,
    n_estimators=1000,
    min_child_weight=300, 
    colsample_bytree=0.8, 
    subsample=0.8, 
    eta=0.3,    
    seed=42)

## Training

In [38]:
model.fit(
    X_train, 
    Y_train, 
    eval_metric="rmse", 
    eval_set=[(X_train, Y_train), (X_valid, Y_valid)], 
    verbose=True, 
    early_stopping_rounds = 10)

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/usr/local/lib/python3.6/dist-packages/xgboost/core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

[19:33:44] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[19:33:44] WARNING: /workspace/src/learner.cc:686: Tree method is automatically selected to be 'approx' for faster speed. To use old behavior (exact greedy algorithm on single machine), set tree_method to 'exact'.
[0]	validation_0-rmse:1.16767	validation_1-rmse:1.14718
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 10 rounds.
[1]	validation_0-rmse:1.16257	validation_1-rmse:1.13545
[2]	validation_0-rmse:1.15814	validation_1-rmse:1.12504
[3]	validation_0-rmse:1.15408	validation_1-rmse:1.11662
[4]	validation_0-rmse:1.14781	validation_1-rmse:1.10851
[5]	validation_0-rmse:1.14319	validation_1-rmse:1.10377
[6]	validation_0-rmse:1.14146	validation_1-rmse:1.09947
[7]	validation_0-rmse:1.13887	validation_1-rmse:1.09419
[8]	validation_0-rmse:1.13879	validation_1-rmse:1.0895
[9]	validation_0-rmse:1.13586	validation_1-rmse:1.08602
[10]	validation_0-rmse:1.13421	validation_1-rmse:1.08207
[11]	validation_0-rmse:1.13202	validation_1-rmse:1.07892
[12]	validation_0-rmse:1.13085	validation_1-rmse:1.07711
[13]	validation_0-rmse:1.12676	validation_1-rmse:1.07027
[14]	validation_0-rmse:1.12365	validation_1-rmse:1.06454
[15]	validation_0-rmse:1.12276	validation_1-rmse:1.06356
[16]	validation_0-rmse:1.12065	validation_1-rmse:1.05966
[17]	validation_0-rmse:1.11807	validation_1-rmse:1.05607
[18]	validation_0-rmse:1.11783	validation_1-rmse:1.05542
[19]	validation_0-rmse:1.11597	validation_1-rmse:1.05268
[20]	validation_0-rmse:1.11436	validation_1-rmse:1.05076
[21]	validation_0-rmse:1.11402	validation_1-rmse:1.04994
[22]	validation_0-rmse:1.11243	validation_1-rmse:1.04789
[23]	validation_0-rmse:1.11115	validation_1-rmse:1.0465
[24]	validation_0-rmse:1.11022	validation_1-rmse:1.0453
[25]	validation_0-rmse:1.10928	validation_1-rmse:1.04477
[26]	validation_0-rmse:1.10818	validation_1-rmse:1.04374
[27]	validation_0-rmse:1.1076	validation_1-rmse:1.04331
[28]	validation_0-rmse:1.10697	validation_1-rmse:1.0428
[29]	validation_0-rmse:1.10642	validation_1-rmse:1.04228
[30]	validation_0-rmse:1.1055	validation_1-rmse:1.04129
[31]	validation_0-rmse:1.10454	validation_1-rmse:1.04049
[32]	validation_0-rmse:1.10417	validation_1-rmse:1.03988
[33]	validation_0-rmse:1.10377	validation_1-rmse:1.03956
[34]	validation_0-rmse:1.10321	validation_1-rmse:1.03837
[35]	validation_0-rmse:1.10301	validation_1-rmse:1.03832
[36]	validation_0-rmse:1.1027	validation_1-rmse:1.03785
[37]	validation_0-rmse:1.10235	validation_1-rmse:1.03691
[38]	validation_0-rmse:1.10197	validation_1-rmse:1.03637
[39]	validation_0-rmse:1.10172	validation_1-rmse:1.03596
[40]	validation_0-rmse:1.10154	validation_1-rmse:1.0356
[41]	validation_0-rmse:1.10123	validation_1-rmse:1.03566
[42]	validation_0-rmse:1.10096	validation_1-rmse:1.03533
[43]	validation_0-rmse:1.10048	validation_1-rmse:1.03476
[44]	validation_0-rmse:1.10011	validation_1-rmse:1.03469
[45]	validation_0-rmse:1.0999	validation_1-rmse:1.0344
[46]	validation_0-rmse:1.09966	validation_1-rmse:1.03436
[47]	validation_0-rmse:1.09945	validation_1-rmse:1.03409
[48]	validation_0-rmse:1.09892	validation_1-rmse:1.03375
[49]	validation_0-rmse:1.09878	validation_1-rmse:1.03353
[50]	validation_0-rmse:1.0985	validation_1-rmse:1.03325
[51]	validation_0-rmse:1.09808	validation_1-rmse:1.03326
[52]	validation_0-rmse:1.09774	validation_1-rmse:1.0325
[53]	validation_0-rmse:1.09759	validation_1-rmse:1.03234
[54]	validation_0-rmse:1.09728	validation_1-rmse:1.03222
[55]	validation_0-rmse:1.09695	validation_1-rmse:1.03182
[56]	validation_0-rmse:1.09672	validation_1-rmse:1.03172
[57]	validation_0-rmse:1.09623	validation_1-rmse:1.03169
[58]	validation_0-rmse:1.09581	validation_1-rmse:1.03155
[59]	validation_0-rmse:1.09543	validation_1-rmse:1.031
[60]	validation_0-rmse:1.09533	validation_1-rmse:1.03096
[61]	validation_0-rmse:1.09517	validation_1-rmse:1.03069
[62]	validation_0-rmse:1.09476	validation_1-rmse:1.03006
[63]	validation_0-rmse:1.09454	validation_1-rmse:1.02974
[64]	validation_0-rmse:1.09437	validation_1-rmse:1.02913
[65]	validation_0-rmse:1.09421	validation_1-rmse:1.02902
[66]	validation_0-rmse:1.09402	validation_1-rmse:1.02879
[67]	validation_0-rmse:1.09385	validation_1-rmse:1.02876
[68]	validation_0-rmse:1.09374	validation_1-rmse:1.02862
[69]	validation_0-rmse:1.09342	validation_1-rmse:1.02866
[70]	validation_0-rmse:1.0931	validation_1-rmse:1.02864
[71]	validation_0-rmse:1.09297	validation_1-rmse:1.02797
[72]	validation_0-rmse:1.09279	validation_1-rmse:1.02766
[73]	validation_0-rmse:1.09248	validation_1-rmse:1.02726
[74]	validation_0-rmse:1.09237	validation_1-rmse:1.02722
[75]	validation_0-rmse:1.0921	validation_1-rmse:1.02702
[76]	validation_0-rmse:1.09199	validation_1-rmse:1.027
[77]	validation_0-rmse:1.09185	validation_1-rmse:1.02648
[78]	validation_0-rmse:1.09168	validation_1-rmse:1.02625
[79]	validation_0-rmse:1.09139	validation_1-rmse:1.02575
[80]	validation_0-rmse:1.09116	validation_1-rmse:1.02554
[81]	validation_0-rmse:1.09107	validation_1-rmse:1.02554
[82]	validation_0-rmse:1.09082	validation_1-rmse:1.02527
[83]	validation_0-rmse:1.09065	validation_1-rmse:1.02527
[84]	validation_0-rmse:1.09039	validation_1-rmse:1.02509
[85]	validation_0-rmse:1.09029	validation_1-rmse:1.02507
[86]	validation_0-rmse:1.09004	validation_1-rmse:1.02454
[87]	validation_0-rmse:1.08993	validation_1-rmse:1.0241
[88]	validation_0-rmse:1.08967	validation_1-rmse:1.02385
[89]	validation_0-rmse:1.08926	validation_1-rmse:1.02386
[90]	validation_0-rmse:1.08918	validation_1-rmse:1.02381
[91]	validation_0-rmse:1.08911	validation_1-rmse:1.02372
[92]	validation_0-rmse:1.08898	validation_1-rmse:1.0235
[93]	validation_0-rmse:1.08886	validation_1-rmse:1.02345
[94]	validation_0-rmse:1.08884	validation_1-rmse:1.02339
[95]	validation_0-rmse:1.08877	validation_1-rmse:1.0229
[96]	validation_0-rmse:1.08857	validation_1-rmse:1.02264
[97]	validation_0-rmse:1.08849	validation_1-rmse:1.02253
[98]	validation_0-rmse:1.08817	validation_1-rmse:1.02257
[99]	validation_0-rmse:1.08755	validation_1-rmse:1.02189
[100]	validation_0-rmse:1.08729	validation_1-rmse:1.02203
[101]	validation_0-rmse:1.08716	validation_1-rmse:1.02176
[102]	validation_0-rmse:1.08708	validation_1-rmse:1.02172
[103]	validation_0-rmse:1.08695	validation_1-rmse:1.02173
[104]	validation_0-rmse:1.08668	validation_1-rmse:1.02178
[105]	validation_0-rmse:1.08655	validation_1-rmse:1.02158
[106]	validation_0-rmse:1.08644	validation_1-rmse:1.02151
[107]	validation_0-rmse:1.08631	validation_1-rmse:1.02137
[108]	validation_0-rmse:1.08613	validation_1-rmse:1.02104
[109]	validation_0-rmse:1.08579	validation_1-rmse:1.02014
[110]	validation_0-rmse:1.0857	validation_1-rmse:1.02004
[111]	validation_0-rmse:1.08552	validation_1-rmse:1.02014
[112]	validation_0-rmse:1.08536	validation_1-rmse:1.0198
[113]	validation_0-rmse:1.08511	validation_1-rmse:1.01974
[114]	validation_0-rmse:1.08497	validation_1-rmse:1.01982
[115]	validation_0-rmse:1.08493	validation_1-rmse:1.01981
[116]	validation_0-rmse:1.08472	validation_1-rmse:1.01956
[117]	validation_0-rmse:1.08454	validation_1-rmse:1.01946
[118]	validation_0-rmse:1.08447	validation_1-rmse:1.01944
[119]	validation_0-rmse:1.08432	validation_1-rmse:1.01947
[120]	validation_0-rmse:1.08415	validation_1-rmse:1.01967
[121]	validation_0-rmse:1.0841	validation_1-rmse:1.01968
[122]	validation_0-rmse:1.08397	validation_1-rmse:1.01949
[123]	validation_0-rmse:1.08392	validation_1-rmse:1.01942
[124]	validation_0-rmse:1.08381	validation_1-rmse:1.01931
[125]	validation_0-rmse:1.08378	validation_1-rmse:1.01931
[126]	validation_0-rmse:1.08358	validation_1-rmse:1.01798
[127]	validation_0-rmse:1.08353	validation_1-rmse:1.01794
[128]	validation_0-rmse:1.0834	validation_1-rmse:1.01783
[129]	validation_0-rmse:1.08327	validation_1-rmse:1.01766
[130]	validation_0-rmse:1.08321	validation_1-rmse:1.01766
[131]	validation_0-rmse:1.08289	validation_1-rmse:1.01774
[132]	validation_0-rmse:1.08276	validation_1-rmse:1.01762
[133]	validation_0-rmse:1.08263	validation_1-rmse:1.01756
[134]	validation_0-rmse:1.08255	validation_1-rmse:1.01754
[135]	validation_0-rmse:1.08252	validation_1-rmse:1.01758
[136]	validation_0-rmse:1.08248	validation_1-rmse:1.0175
[137]	validation_0-rmse:1.08242	validation_1-rmse:1.0174
[138]	validation_0-rmse:1.08231	validation_1-rmse:1.01749
[139]	validation_0-rmse:1.08224	validation_1-rmse:1.01745
[140]	validation_0-rmse:1.08212	validation_1-rmse:1.01735
[141]	validation_0-rmse:1.08195	validation_1-rmse:1.01708
[142]	validation_0-rmse:1.08187	validation_1-rmse:1.01704
[143]	validation_0-rmse:1.08149	validation_1-rmse:1.01703
[144]	validation_0-rmse:1.08122	validation_1-rmse:1.01652
[145]	validation_0-rmse:1.08106	validation_1-rmse:1.01623
[146]	validation_0-rmse:1.08101	validation_1-rmse:1.01619
[147]	validation_0-rmse:1.08076	validation_1-rmse:1.01603
[148]	validation_0-rmse:1.08068	validation_1-rmse:1.01598
[149]	validation_0-rmse:1.08055	validation_1-rmse:1.01585
[150]	validation_0-rmse:1.08048	validation_1-rmse:1.01578
[151]	validation_0-rmse:1.08045	validation_1-rmse:1.0157
[152]	validation_0-rmse:1.08037	validation_1-rmse:1.01565
[153]	validation_0-rmse:1.08031	validation_1-rmse:1.01561
[154]	validation_0-rmse:1.08028	validation_1-rmse:1.01546
[155]	validation_0-rmse:1.08025	validation_1-rmse:1.01543
[156]	validation_0-rmse:1.08018	validation_1-rmse:1.01538
[157]	validation_0-rmse:1.07993	validation_1-rmse:1.01459
[158]	validation_0-rmse:1.07988	validation_1-rmse:1.01455
[159]	validation_0-rmse:1.07967	validation_1-rmse:1.01434
[160]	validation_0-rmse:1.07954	validation_1-rmse:1.01372
[161]	validation_0-rmse:1.07934	validation_1-rmse:1.01367
[162]	validation_0-rmse:1.07929	validation_1-rmse:1.01357
[163]	validation_0-rmse:1.07922	validation_1-rmse:1.01359
[164]	validation_0-rmse:1.07915	validation_1-rmse:1.01305
[165]	validation_0-rmse:1.07869	validation_1-rmse:1.0129
[166]	validation_0-rmse:1.07842	validation_1-rmse:1.01293
[167]	validation_0-rmse:1.07828	validation_1-rmse:1.01297
[168]	validation_0-rmse:1.07823	validation_1-rmse:1.01281
[169]	validation_0-rmse:1.07808	validation_1-rmse:1.01236
[170]	validation_0-rmse:1.07801	validation_1-rmse:1.01234
[171]	validation_0-rmse:1.07793	validation_1-rmse:1.01226
[172]	validation_0-rmse:1.0778	validation_1-rmse:1.01229
[173]	validation_0-rmse:1.07776	validation_1-rmse:1.01226
[174]	validation_0-rmse:1.07769	validation_1-rmse:1.01223
[175]	validation_0-rmse:1.07766	validation_1-rmse:1.01218
[176]	validation_0-rmse:1.0776	validation_1-rmse:1.01213
[177]	validation_0-rmse:1.0775	validation_1-rmse:1.01215
[178]	validation_0-rmse:1.07745	validation_1-rmse:1.01214
[179]	validation_0-rmse:1.07728	validation_1-rmse:1.01206
[180]	validation_0-rmse:1.07725	validation_1-rmse:1.01186
[181]	validation_0-rmse:1.07721	validation_1-rmse:1.01176
[182]	validation_0-rmse:1.077	validation_1-rmse:1.01163
[183]	validation_0-rmse:1.07694	validation_1-rmse:1.01161
[184]	validation_0-rmse:1.07687	validation_1-rmse:1.01162
[185]	validation_0-rmse:1.07678	validation_1-rmse:1.01136
[186]	validation_0-rmse:1.07662	validation_1-rmse:1.01139
[187]	validation_0-rmse:1.07651	validation_1-rmse:1.01134
[188]	validation_0-rmse:1.07646	validation_1-rmse:1.01131
[189]	validation_0-rmse:1.0764	validation_1-rmse:1.01126
[190]	validation_0-rmse:1.07636	validation_1-rmse:1.01126
[191]	validation_0-rmse:1.0763	validation_1-rmse:1.01091
[192]	validation_0-rmse:1.07627	validation_1-rmse:1.01087
[193]	validation_0-rmse:1.07623	validation_1-rmse:1.01088
[194]	validation_0-rmse:1.07619	validation_1-rmse:1.01084
[195]	validation_0-rmse:1.07607	validation_1-rmse:1.01087
[196]	validation_0-rmse:1.07601	validation_1-rmse:1.01092
[197]	validation_0-rmse:1.07598	validation_1-rmse:1.01092
[198]	validation_0-rmse:1.07588	validation_1-rmse:1.01101
[199]	validation_0-rmse:1.07571	validation_1-rmse:1.0103
[200]	validation_0-rmse:1.0756	validation_1-rmse:1.01022
[201]	validation_0-rmse:1.07551	validation_1-rmse:1.01017
[202]	validation_0-rmse:1.07542	validation_1-rmse:1.01008
[203]	validation_0-rmse:1.07527	validation_1-rmse:1.01002
[204]	validation_0-rmse:1.07525	validation_1-rmse:1.01
[205]	validation_0-rmse:1.07514	validation_1-rmse:1.00992
[206]	validation_0-rmse:1.07495	validation_1-rmse:1.00993
[207]	validation_0-rmse:1.07474	validation_1-rmse:1.00987
[208]	validation_0-rmse:1.07466	validation_1-rmse:1.00973
[209]	validation_0-rmse:1.07463	validation_1-rmse:1.00975
[210]	validation_0-rmse:1.07451	validation_1-rmse:1.00969
[211]	validation_0-rmse:1.07446	validation_1-rmse:1.00965
[212]	validation_0-rmse:1.07441	validation_1-rmse:1.0096
[213]	validation_0-rmse:1.07435	validation_1-rmse:1.00956
[214]	validation_0-rmse:1.07422	validation_1-rmse:1.0094
[215]	validation_0-rmse:1.07413	validation_1-rmse:1.00938
[216]	validation_0-rmse:1.07399	validation_1-rmse:1.00943
[217]	validation_0-rmse:1.07395	validation_1-rmse:1.00944
[218]	validation_0-rmse:1.07392	validation_1-rmse:1.00943
[219]	validation_0-rmse:1.07378	validation_1-rmse:1.00943
[220]	validation_0-rmse:1.07353	validation_1-rmse:1.00937
[221]	validation_0-rmse:1.07344	validation_1-rmse:1.00934
[222]	validation_0-rmse:1.07341	validation_1-rmse:1.0093
[223]	validation_0-rmse:1.07335	validation_1-rmse:1.00933
[224]	validation_0-rmse:1.07331	validation_1-rmse:1.00928
[225]	validation_0-rmse:1.07326	validation_1-rmse:1.0093
[226]	validation_0-rmse:1.07314	validation_1-rmse:1.00951
[227]	validation_0-rmse:1.07306	validation_1-rmse:1.00949
[228]	validation_0-rmse:1.07304	validation_1-rmse:1.00947
[229]	validation_0-rmse:1.07295	validation_1-rmse:1.00931
[230]	validation_0-rmse:1.07286	validation_1-rmse:1.00931
[231]	validation_0-rmse:1.07276	validation_1-rmse:1.00917
[232]	validation_0-rmse:1.07269	validation_1-rmse:1.00914
[233]	validation_0-rmse:1.07264	validation_1-rmse:1.00916
[234]	validation_0-rmse:1.0726	validation_1-rmse:1.00914
[235]	validation_0-rmse:1.07255	validation_1-rmse:1.00902
[236]	validation_0-rmse:1.07244	validation_1-rmse:1.009
[237]	validation_0-rmse:1.07242	validation_1-rmse:1.00898
[238]	validation_0-rmse:1.07238	validation_1-rmse:1.00853
[239]	validation_0-rmse:1.07211	validation_1-rmse:1.0083
[240]	validation_0-rmse:1.07208	validation_1-rmse:1.0082
[241]	validation_0-rmse:1.07199	validation_1-rmse:1.00814
[242]	validation_0-rmse:1.07192	validation_1-rmse:1.00803
[243]	validation_0-rmse:1.0719	validation_1-rmse:1.00798
[244]	validation_0-rmse:1.07186	validation_1-rmse:1.00799
[245]	validation_0-rmse:1.07176	validation_1-rmse:1.00791
[246]	validation_0-rmse:1.07167	validation_1-rmse:1.00793
[247]	validation_0-rmse:1.07163	validation_1-rmse:1.0079
[248]	validation_0-rmse:1.07154	validation_1-rmse:1.00781
[249]	validation_0-rmse:1.07149	validation_1-rmse:1.00792
[250]	validation_0-rmse:1.07148	validation_1-rmse:1.00791
[251]	validation_0-rmse:1.07143	validation_1-rmse:1.00788
[252]	validation_0-rmse:1.0714	validation_1-rmse:1.00787
[253]	validation_0-rmse:1.07132	validation_1-rmse:1.00789
[254]	validation_0-rmse:1.07127	validation_1-rmse:1.00785
[255]	validation_0-rmse:1.07125	validation_1-rmse:1.00781
[256]	validation_0-rmse:1.07123	validation_1-rmse:1.00781
[257]	validation_0-rmse:1.07118	validation_1-rmse:1.00768
[258]	validation_0-rmse:1.07116	validation_1-rmse:1.00768
[259]	validation_0-rmse:1.07104	validation_1-rmse:1.00759
[260]	validation_0-rmse:1.071	validation_1-rmse:1.00758
[261]	validation_0-rmse:1.07092	validation_1-rmse:1.00755
[262]	validation_0-rmse:1.07081	validation_1-rmse:1.00757
[263]	validation_0-rmse:1.07069	validation_1-rmse:1.00752
[264]	validation_0-rmse:1.07063	validation_1-rmse:1.00739
[265]	validation_0-rmse:1.07059	validation_1-rmse:1.00741
[266]	validation_0-rmse:1.0705	validation_1-rmse:1.00738
[267]	validation_0-rmse:1.07047	validation_1-rmse:1.00736
[268]	validation_0-rmse:1.07044	validation_1-rmse:1.00726
[269]	validation_0-rmse:1.07036	validation_1-rmse:1.00715
[270]	validation_0-rmse:1.07023	validation_1-rmse:1.00692
[271]	validation_0-rmse:1.07021	validation_1-rmse:1.00693
[272]	validation_0-rmse:1.0701	validation_1-rmse:1.00684
[273]	validation_0-rmse:1.07007	validation_1-rmse:1.00683
[274]	validation_0-rmse:1.07003	validation_1-rmse:1.00687
[275]	validation_0-rmse:1.07002	validation_1-rmse:1.00688
[276]	validation_0-rmse:1.06991	validation_1-rmse:1.00686
[277]	validation_0-rmse:1.06986	validation_1-rmse:1.00685
[278]	validation_0-rmse:1.06976	validation_1-rmse:1.00677
[279]	validation_0-rmse:1.06971	validation_1-rmse:1.00673
[280]	validation_0-rmse:1.06965	validation_1-rmse:1.00658
[281]	validation_0-rmse:1.06963	validation_1-rmse:1.00656
[282]	validation_0-rmse:1.06959	validation_1-rmse:1.00655
[283]	validation_0-rmse:1.06949	validation_1-rmse:1.00647
[284]	validation_0-rmse:1.06947	validation_1-rmse:1.00641
[285]	validation_0-rmse:1.06945	validation_1-rmse:1.00637
[286]	validation_0-rmse:1.06941	validation_1-rmse:1.00635
[287]	validation_0-rmse:1.06936	validation_1-rmse:1.00629
[288]	validation_0-rmse:1.06932	validation_1-rmse:1.00625
[289]	validation_0-rmse:1.06921	validation_1-rmse:1.00604
[290]	validation_0-rmse:1.06914	validation_1-rmse:1.00604
[291]	validation_0-rmse:1.06905	validation_1-rmse:1.00605
[292]	validation_0-rmse:1.06899	validation_1-rmse:1.0057
[293]	validation_0-rmse:1.06898	validation_1-rmse:1.00569
[294]	validation_0-rmse:1.06896	validation_1-rmse:1.00569
[295]	validation_0-rmse:1.0689	validation_1-rmse:1.00565
[296]	validation_0-rmse:1.06886	validation_1-rmse:1.00564
[297]	validation_0-rmse:1.06874	validation_1-rmse:1.00551
[298]	validation_0-rmse:1.06872	validation_1-rmse:1.00551
[299]	validation_0-rmse:1.06866	validation_1-rmse:1.00556
[300]	validation_0-rmse:1.06862	validation_1-rmse:1.00558
[301]	validation_0-rmse:1.06853	validation_1-rmse:1.00556
[302]	validation_0-rmse:1.06849	validation_1-rmse:1.00554
[303]	validation_0-rmse:1.06841	validation_1-rmse:1.00544
[304]	validation_0-rmse:1.06837	validation_1-rmse:1.00545
[305]	validation_0-rmse:1.06831	validation_1-rmse:1.00543
[306]	validation_0-rmse:1.06824	validation_1-rmse:1.00538
[307]	validation_0-rmse:1.06823	validation_1-rmse:1.00537
[308]	validation_0-rmse:1.06821	validation_1-rmse:1.00533
[309]	validation_0-rmse:1.06817	validation_1-rmse:1.00539
[310]	validation_0-rmse:1.06809	validation_1-rmse:1.00564
[311]	validation_0-rmse:1.06801	validation_1-rmse:1.00562
[312]	validation_0-rmse:1.06799	validation_1-rmse:1.0056
[313]	validation_0-rmse:1.06789	validation_1-rmse:1.00547
[314]	validation_0-rmse:1.0678	validation_1-rmse:1.00546
[315]	validation_0-rmse:1.06777	validation_1-rmse:1.00544
[316]	validation_0-rmse:1.06772	validation_1-rmse:1.00536
[317]	validation_0-rmse:1.06761	validation_1-rmse:1.00524
[318]	validation_0-rmse:1.06758	validation_1-rmse:1.00521
[319]	validation_0-rmse:1.06754	validation_1-rmse:1.00519
[320]	validation_0-rmse:1.06747	validation_1-rmse:1.00542
[321]	validation_0-rmse:1.06744	validation_1-rmse:1.00544
[322]	validation_0-rmse:1.06741	validation_1-rmse:1.00552
[323]	validation_0-rmse:1.06734	validation_1-rmse:1.00545
[324]	validation_0-rmse:1.06728	validation_1-rmse:1.0054
[325]	validation_0-rmse:1.06724	validation_1-rmse:1.00535
[326]	validation_0-rmse:1.0672	validation_1-rmse:1.00529
[327]	validation_0-rmse:1.06715	validation_1-rmse:1.0052
[328]	validation_0-rmse:1.06709	validation_1-rmse:1.00515
[329]	validation_0-rmse:1.06704	validation_1-rmse:1.00512
[330]	validation_0-rmse:1.067	validation_1-rmse:1.0051
[331]	validation_0-rmse:1.0669	validation_1-rmse:1.00494
[332]	validation_0-rmse:1.06688	validation_1-rmse:1.00495
[333]	validation_0-rmse:1.06686	validation_1-rmse:1.00494
[334]	validation_0-rmse:1.06683	validation_1-rmse:1.00503
[335]	validation_0-rmse:1.06678	validation_1-rmse:1.00496
[336]	validation_0-rmse:1.06672	validation_1-rmse:1.0049
[337]	validation_0-rmse:1.06662	validation_1-rmse:1.00491
[338]	validation_0-rmse:1.06652	validation_1-rmse:1.00469

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, eta=0.3, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=8, min_child_weight=300, missing=None, n_estimators=1000,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=42,
             silent=None, subsample=0.8, verbosity=1)

## Predictions and submission

In [0]:
Y_test = model.predict(X_test).clip(0, 20)

In [0]:
submission = pd.DataFrame({
    "ID": test.index, 
    "item_cnt_month": Y_test
})

In [0]:
submission.to_csv('/content/drive/My Drive/midas/competitive-data-science-predict-future-sales/submission3.csv', index=False)

In [42]:
submission

            ID  item_cnt_month
0            0        0.436563
1            1        0.352290
2            2        0.159247
3            3        0.143570
4            4        0.141076
...        ...             ...
214195  214195        0.112115
214196  214196        0.078722
214197  214197        0.119150
214198  214198        0.094618
214199  214199        0.114222

[214200 rows x 2 columns]